# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Java and Build files
*.class
/build/
/out/

# Personal IntelliJ settings (the stuff that breaks other people's laptops)
.idea/workspace.xml
.idea/modules.xml
*.iml
